.not-found-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  height: 300px;
  width: 250px;
}

.not-found-heading {
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 400;
  font-size: 38px;
}

.not-found-describe {
  font-family: 'Roboto';
  color: #64748b;
  font-weight: 400;
  font-size: 18px;
}

.dark-not-found-container {
  background-color: #000000;
}

.dark-theme-text {
  color: #ffffff;
}
