.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #ffffff33;
  border: 2px solid #ffffff33;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .button {
    margin: 10px;
    height: 120px;
    width: 120px;
  }
}
