.popular-repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Lobster';
}

.language-filter-item-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
}

.repo-item-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
