.product-details-container {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.product-img {
  height: 400px;
  width: 300px;
  border-radius: 16px;
}

.product-info-container {
  margin-left: 18px;
  width: 50%;
}

.rating-review {
  display: flex;
}

.rating-card {
  background-color: #3b82f6;
  border-radius: 4px;
  display: flex;
}

.order-quantity-card {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.order-quantity {
  font-family: 'Roboto';
  margin-left: 18px;
  margin-right: 18px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.similar-product-item-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  height: 400px;
  width: 600px;
}
