.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  color: #2d3a35;
  font-size: 48px;
  text-align: center;
}

.count {
  color: #c20a72;
}

.btn-describe {
  font-family: 'Roboto';
  color: #2d3a35;
}

.click-btn {
  background-color: #007bff;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
}
