.win-or-lose-card-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  width: 85%;
  border: 3px solid #ffffff30;
  border-radius: 24px;
  margin-top: 25px;
  padding: 16px;
}
.score-details-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-status {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: bold;
}
.current-score {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}
.score-value {
  text-align: center;
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}
.play-again-button {
  color: #3d3d3d;
  background-color: #ffce27;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  outline: none;
}
.win-or-lose-image {
  width: 350px;
  height: 450px;
}
@media (max-width: 991px) {
  .win-or-lose-card-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .image-section {
    display: flex;
    justify-content: center;
  }
}
