.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-container {
  background-color: #f1f5f9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  padding: 8px;
  border-radius: 8px;
}

.search-input {
  font-family: 'Roboto';
  background-color: #f1f5f9;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.filter-heading {
  font-family: 'Roboto';
  color: #0f172a;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 8px;
}

.filter-list-items {
  list-style-type: none;
  padding: 0px;
}

.filter-btn {
  font-weight: 'Roboto';
  color: #64748b;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.selected-filter {
  color: #0967d2;
}

.rating-img {
  height: 20px;
  width: 120px;
  margin-right: 8px;
}

.clear-filter-btn {
  font-family: 'Roboto';
  color: #0967d2;
  border: 1px solid #0967d2;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 18px;
}

.category-name {
  margin: 0px;
}
