.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Bree Serif';
  color: #f0bb03;
  font-size: 68px;
}

.greeting {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 28px;
}

.sub-btn {
  font-family: 'Bree Serif';
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
